body {
    padding-top: 110px;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
/*
 Type
*/
h1.hero {
    display: inline-block;
    margin: 40px 0 0 15px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
h3 {
    font-size: 32px;
    font-weight: normal;
    margin: 40px 0 25px;
    color: #662d91;
}
h4 {
    margin: 30px 0 10px;
}
h5 {
    margin: 15px 0 10px;
}
h4, h5, p, ul, ol {
    font-size: 17px;
    font-weight: lighter;
    color: #707070;
}
h4, h5 {
    font-weight: bolder;
}
.last-p {
    margin-bottom: 120px;
}
p.small {
    font-size: 16px;
    margin: 0 0 6px 15px;
}
ul.content {
    padding-left: 20px;
}
ul.content > li {
    margin-bottom: 20px;
}
ul.content.narrow > li {
    margin-bottom: 0;
}
/*
 Theme
*/
a.menu-item {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    min-height: 0;
}
a.menu-item.navbar {
    color: #262262 !important;
}
a.menu-item.navbar:hover,
a.menu-item.navbar.active {
    color: #951b81 !important;
}
a.menu-item.footer {
    color: #fff !important;
    font-size: 14px;
}
a.menu-item.footer:hover,
a.menu-item.footer.active {
    color: #ccc !important;
}
.warn-color {
    color: #92278f;
}
.text-color {
    color: #707070;
}
.btn-warn {
    color: #ec008c;
}
.btn-warn:hover {
    color: #b90067;
}
.btn-normal {
    color: #00aeef;
}
.btn-normal:hover {
    color: #0083b9;
}


/*
 Navbar
*/

.navbar {
    min-height: 100px;
}
.navbar-brand {
    height: 100px;
    padding-top: 20px;
}
.navbar-default {
    background: #fff;
    border-bottom: 12px solid #262262;
}
.navbar-toggle {
    padding: 25px;
    margin: 25px 25px 25px 0;
    border: 0;
    background: url('/images/menu.svg');
    background-size: 50px 50px ;
}
@media (min-width: 1300px) {
    .navbar-header {
        margin-left: -75px !important;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a.menu-item {
        padding-top: 55px;
    }
}

/*
 Hero
*/

.hero {
    min-height: 500px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero.home {
    background-image: url('../images/hero-bg-home.jpg');
}
.hero.approach {
    background-image: url('../images/hero-bg-approach.jpg');
}
.hero.faq {
    background-image: url('../images/hero-bg-faq.jpg');
}
.hero.about {
    background-image: url('../images/hero-bg-about.jpg');
}
/*
 Sections
*/
.col-1 > * {
    margin-left: 15px;
}
.footer {
    margin-bottom: 0;
    background-color: #333;
    color: #fff;
}
.footer p.small {
    color: #fff;
}
.footer-col {
    margin-bottom: 50px;
}
@media (min-width: 992px) {
    .footer-logo {
        position: absolute;
        left: 50%;
        margin-left: -25px;
    }
}

/*
 Elements
*/
.movie-container {
    text-align: center;
}
video.movie {
    width: 320px;
    float: none !important;
}
@media (min-width: 768px) {
    video.movie {
        width: 370px;
    }
}
@media (min-width: 992px) {
    video.movie {
        width: 720px;
    }
}
@media (min-width: 1200px) {
    video.movie {
        width: 900px;
    }
}

ul.blue li {
    color: #662d91;
}
figure img {
    width: 200px;
    height: 250px
}
figure.founder {
    max-width: 200px;
    margin: 0 auto 120px auto;
}
.btn {
    border: 2px solid;
    border-radius: 10px;
    padding: 4px 10px;
}
.btn:hover {
    text-decoration: none;
}
