@font-face {
    font-family: 'HelveticaNeue-Lite';
    src: url('/fonts/helvetica-neue/30C2B1_0_0.eot');
    src: url('/fonts/helvetica-neue/30C2B1_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-neue/30C2B1_0_0.woff2') format('woff2'), url('/fonts/helvetica-neue/30C2B1_0_0.woff') format('woff'), url('/fonts/helvetica-neue/30C2B1_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('/fonts/helvetica-neue/30C2B1_1_0.eot');
    src: url('/fonts/helvetica-neue/30C2B1_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-neue/30C2B1_1_0.woff2') format('woff2'), url('/fonts/helvetica-neue/30C2B1_1_0.woff') format('woff'), url('/fonts/helvetica-neue/30C2B1_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('/fonts/helvetica-neue/30C2B1_2_0.eot');
    src: url('/fonts/helvetica-neue/30C2B1_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-neue/30C2B1_2_0.woff2') format('woff2'), url('/fonts/helvetica-neue/30C2B1_2_0.woff') format('woff'), url('/fonts/helvetica-neue/30C2B1_2_0.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue-Middle';
    src: url('/fonts/helvetica-neue/30C2B1_3_0.eot');
    src: url('/fonts/helvetica-neue/30C2B1_3_0.eot?#iefix') format('embedded-opentype'), url('/fonts/helvetica-neue/30C2B1_3_0.woff2') format('woff2'), url('/fonts/helvetica-neue/30C2B1_3_0.woff') format('woff'), url('/fonts/helvetica-neue/30C2B1_3_0.ttf') format('truetype');
}
body {
    padding-top: 72px;
    font-size: 16px;
    font-family: 'HelveticaNeue-Roman', sans-serif;
}
@media (min-width: 768px) {
    body {
        padding-top: 110px;
    }
}
/*
 Type
*/
h1.hero {
    font-family: 'HelveticaNeue-Bold';
    display: inline-block;
    margin: 40px 0 0 15px;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}
h3 {
    font-family: 'HelveticaNeue-Middle';
    font-size: 32px;
    margin: 40px 0 25px;
    color: #662d91;
}
h4, h5, p, ul, ol, .p {
    font-family: 'HelveticaNeue-Lite';
    font-size: 17px;
}
h4 {
    font-family: 'HelveticaNeue-Middle';
    margin: 30px 0 10px;
}
h5 {
    font-family: 'HelveticaNeue-Roman';
    margin: 15px 0 10px;
}

.last-p {
    margin-bottom: 120px;
}
p.small {
    font-size: 16px;
    margin: 0 0 6px 15px;
}
ul.content {
    padding-left: 20px;
}
ul.content > li {
    margin-bottom: 20px;
}
ul.content.standout {
    margin-bottom: 20px;
}
ul.content.standout > li {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.7;
}
/*
 Theme
*/
p, ul, ol {
    color: #000;
}
a.no-style {
    text-decoration: none;
    color: inherit;
}
a.menu-item {
    font-family: 'HelveticaNeue-Middle';
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
a.menu-item.nav-menu {
    color: #262262 !important;
}
a.menu-item.nav-menu:hover,
a.menu-item.nav-menu.active {
    color: #ec008c !important;
}
a.menu-item.footer {
    color: #fff !important;
    font-size: 14px;
}
a.menu-item.footer:hover,
a.menu-item.footer.active {
    color: #ccc !important;
}
.warn-color {
    color: #92278f;
}
.error-color {
    color: #ec008c;
}
.alt-color {
    color: #00aeef;
}
.color-text {
    color: #000;
}
.color-light {
    color: #fff;
}
.btn-warn,
.btn-warn:focus{
    color: #ec008c;
}
.btn-warn:hover,
.btn-warn:active,
.btn-warn.active {
    color: #b90067;
}
.btn-normal,
.btn-normal:focus{
    color: #00aeef;
}
.btn-normal:hover,
.btn-normal:active,
.btn-normal.active {
    color: #0083b9;
}
/*
 Navbar
*/
.navbar {
    height: 72px;
}
.navbar-brand {
    height: 100%;
    padding: 10px;
}
.brand-image {
    height: 40px;
}
@media (min-width: 768px) {
    .navbar {
        height: 110px;
    }
    .navbar-brand {
        padding: 19px;
    }
    .brand-image {
        height: 60px;
    }
}
.navbar-default {
    background: #fff;
    border-bottom: 12px solid #262262;
}
.navbar-collapse {
    background: #fff;
}
.navbar-toggle {
    padding: 20px;
    margin: 10px 15px;
    border: 0;
    background: url('/images/menu.svg') no-repeat;
    background-size: 40px 40px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
@media (min-width: 1300px) {
    .navbar-header {
        margin-left: -75px !important;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a.menu-item {
        padding-top: 55px;
    }
}
/*
 Hero
*/

.hero {
    min-height: 500px;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero.home {
    background-image: url('/images/hero-bg-home.jpg');
}
.hero.approach {
    background-image: url('/images/hero-bg-approach.jpg');
}
.hero.faq {
    background-image: url('/images/hero-bg-faq.jpg');
}
.hero.about {
    background-image: url('/images/hero-bg-about.jpg');
}
.hero.contact {
    background: #262262;
    margin-bottom: 0;
}
.hero.contact > .container {
    padding-top: 30px;
}
/*
 Sections
*/
.col-1 > * {
    margin-left: 15px;
}
.space-top-sm {
    padding-top: 30px;
}
.space-bottom {
    margin-bottom: 20px;
}
.space-bottom-md {
    margin-bottom: 70px;
}
.limit-w {
    margin: 0 30px;
}
@media (min-width: 768px) {
    .limit-w {
        max-width: 330px;
        margin: 0;
    }
}
.center-xs {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.center-xs ul.content {
    padding-left: 30px;
}
@media (min-width: 768px) {
    .center-xs  {
        width: 100%;
        text-align: left;
    }
    .center-xs ul.content {
        padding-left: 20px;
    }
}
/* Contact us */
.section-contact .contact-text {
    font-size: 17px;
}
/* Footer */
.footer {
    margin-bottom: 0;
    background-color: #333;
    color: #fff;
}
.footer p.small {
    color: #fff;
}
.footer-col {
    margin-bottom: 50px;
}
@media (min-width: 992px) {
    .footer-logo {
        position: absolute;
        left: 50%;
        margin-left: -25px;
    }
}
/*
 Elements
*/
.movie-cont {
    padding: 30px;
}
video.movie {
    width: 100% !important;
    height: auto !important;
    cursor: pointer;
    background: #fff;
}
@media (min-width: 1200px) {
    .movie-cont {
        width: 750px;
        float: right !important;
    }
}
ul.blue li {
    color: #662d91;
}
figure.founder {
    padding-top: 70px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dfd8e5;;
}
figure.founder:last-of-type {
    border-bottom: 0;
}
figure.founder .img-cont {
    padding-top: 20px;
    text-align: center;
}
.btn {
    border: 2px solid;
    border-radius: 10px;
    padding: 7px 35px;
    font-size: 18px;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    text-decoration: none;
}
.form-control:focus::-moz-placeholder {
    color: #272264;
    opacity: 1;
}
.form-control:focus:-ms-input-placeholder {
    color: #272264;
}
.form-control:focus::-webkit-input-placeholder {
    color: #272264;
}
.form-control:focus {
    border-color: #00aeef;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 2px #00aeef;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 2px #00aeef;
}
.has-error .form-control,
.has-error .form-control:focus {
    border-color: #ec008c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 2px #ec008c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 0 2px #ec008c;
}
/*
 Form
*/
.send-progress span {
    display: none;
}
.send-progress.sent span.sent {
    display: inline;
}
.send-progress.sending span.sending {
    display: inline;
}
/*
Accordion
*/
a .chevron {
    content: '';
    display: inline-block;
    width: 0; height: 0;
    margin-bottom: 4px;
    border: 6px solid transparent;
    border-left: 6px solid #662d91;
    border-right: 0;
    transition: transform .3s ease;
    transform: rotate(90deg);
}
a.collapsed .chevron {
    transform: rotate(0deg);
}
